*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fbcfe8;
  color: #444;
}

.front-page {
  height: 50rem;
  width: 40rem;
  border-radius: 3px;
  margin: 0 auto;
  margin-top: 8rem;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-image: linear-gradient(to right bottom, #f9a8d4, #f472b6);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.15);
  /* opacity: 1; */
}

.visible {
  visibility: hidden;
  z-index: -1;
}

/* .app__visible {
  z-index: -1;
  visibility: hidden;
} */

.logo {
  height: 10rem;
  width: 10rem;
}

.image {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8rem;
}

.login__text {
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.login__input {
  padding: 0.7rem;
  width: 120%;
  border: 2px solid #ccc;
  font-size: 1.5rem;
  font-family: inherit;
  text-align: center;
  border-radius: 10rem;
  background-color: #fff;
  margin-bottom: 1.2rem;
}

.login__input:focus {
  outline: none;
  border: 2px solid #ccc;
}

.login__input::placeholder {
  color: #bbb;
}

.login__btn,
.sort__btn {
  padding: 0.8rem 3rem;
  border: 2px solid #ccc;
  font-size: 1.5rem;
  border-radius: 100px;
  text-transform: uppercase;
  transition: all 0.2s;
}

.login__btn:hover,
.navbar__logout:hover,
.sort__btn:hover {
  outline: none;
  background-color: #f472b6;
}

.app {
  margin-top: -60rem;
  display: grid;
  grid-template-rows: 100px 200px 400px 90px;
  grid-template-columns:
    [left-start]65px [left-end center-start]repeat(8, [col-start]1fr[col-end])
    [center-end right-start]65px [right-end];
  gap: 10px;
  padding: 1rem;
  z-index: 20;
}

.navbar {
  grid-column: center-start / center-end;
  display: flex;
  align-items: end;
  justify-content: space-between;
  position: relative;
}

.operations {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(3, 1fr) max-content;
  gap: 1rem;
  margin-top: 4rem;
}

.operation {
  height: 17rem;
  width: 33rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #444343;
  border-radius: 4px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.movement {
  background-color: #fdfcfc;
  grid-column: center-start / center-end;
  margin-top: 2rem;
  display: flex;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.15);
}

.movements {
  width: 70%;
  padding: 1rem;
  overflow: scroll;
}

.footer {
  grid-column: center-start / center-end;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 6.5rem;
  width: 6.5rem;
}

.navbar__text {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.7rem;
}

.navbar__logout {
  padding: 0.5rem 1.5rem;
  border: 2px solid #ccc;
  font-size: 1.2rem;
  border-radius: 100px;
  text-transform: uppercase;
  transition: all 0.2s;
}

.account__watch {
  font-size: 1.5rem;
  font-weight: 600;
  position: absolute;
  top: 6rem;
}

.form__timer {
  height: 17rem;
  padding: 2rem;
  background-image: linear-gradient(to right, #f59e0b, #d87a33);
  border-radius: 4px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}
.timer__text {
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form__input {
  font-size: 1.3rem;
  padding: 0.5rem 0.3rem;
  border-radius: 6px;
  background-color: #fdfcfc;
  border: none;
  margin-bottom: 1rem;
  border-bottom: 2px solid transparent;
  display: inline-block;
}

.form__input:focus {
  outline: none;
  box-shadow: 0 0.5rem 1rem rgba(#000, 0.1);
  border-bottom: 2px solid #f472b6;
}

.form__label {
  margin-right: 1rem;
  font-size: 1.3rem;
  font-weight: bold;
}

.form__btn {
  padding: 0.7rem 2rem;
  border-radius: 10px;
  border: none;
  outline: 2px solid #f472b6;
  transition: all 0.2s;
}

.form__btn:hover {
  background-color: #ddd;
}

.form__input--amount {
  margin-left: 1.6rem;
}
.form__btn--transfer,
.form__btn--close {
  margin-left: 2.5rem;
  margin-top: 1rem;
}

.form__btn--loan {
  margin-left: 2.5rem;
  margin-top: 5rem;
}

.form__input--pin {
  margin-left: 0.5rem;
}

.operation__transfer {
  background-image: linear-gradient(to right, #06b6d4, #0e7490);
}

.operation__loan {
  background-image: linear-gradient(to right, #10b981, #047857);
}
.operation__close {
  background-image: linear-gradient(to right, #ef4444, #b91c1c);
}

.movements__row {
  padding: 2rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
}

.summary {
  margin-left: 3rem;
}

.summary__label {
  padding: 2rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  justify-items: center;
  align-items: center;
}
.summary__label--balance,
.summary__label--in,
.summary__label--out,
.summary__label--interest {
  background-color: #fdfcfc;
  width: 20rem;
  height: 16.5rem;
  padding: 2rem;
  border-radius: 3px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.summary--text {
  font-size: 2.5rem;
  text-align: center;
}
.summary--text-amount {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
  margin-left: 2.5rem;
  letter-spacing: 2px;
}

.summary__label--balance-value {
  display: inline-block;
  background-image: linear-gradient(to right, #06b6d4, #0e7490);
  -webkit-background-clip: text;
  color: transparent;
}

.summary__label--in-value {
  display: inline-block;
  background-image: linear-gradient(to right, #10b981, #047857);
  -webkit-background-clip: text;
  color: transparent;
  margin-left: 2.7rem;
}

.summary__label--out-value {
  display: inline-block;
  background-image: linear-gradient(to right, #ef4444, #b91c1c);
  -webkit-background-clip: text;
  color: transparent;
}

.summary__label--interest-value {
  display: inline-block;
  background-image: linear-gradient(to right, #f59e0b, #d87a33);
  -webkit-background-clip: text;
  color: transparent;
  margin-left: 3rem;
}

.copyright {
  font-size: 1.3rem;
}

.movements__type--deposit {
  font-size: 1.3rem;
  display: inline-block;
  background-image: linear-gradient(to right, #16a34a, #15803d);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 100px;
}

.movements__type--withdrawal {
  font-size: 1.3rem;
  display: inline-block;
  background-image: linear-gradient(to right, #ef4444, #b91c1c);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 100px;
}
.account__watch {
  font-size: 1.8rem;
  text: center;
}
